@font-face {
    font-family: 'titillium-web-bold';
    src: url('../fonts/titillium/titilliumwebbold.ttf');
}
@font-face {
    font-family: 'titillium-web-regular';
    src: url('../fonts/titillium/TitilliumWeb-Regular.ttf');
}
@font-face {
    font-family: 'titillium-web-semibold';
    src: url('../fonts/titillium/titilliumwebsemibold.ttf');
}
@font-face {
    font-family: 'MalagaOT';
    src: url('../fonts/Malaga/MalagaOT-RegItalic.otf');
}
@font-face {
    font-family: 'MinionPro';
    src: url('../fonts/MinionPro/MinionPro-Regular.otf');
}

body {
  font-size: 14px;
  background-color: #FFF;
  padding: 0;
  margin: 0;
}
body ul {
  margin: 0;
  padding: 0;
}
p, span , div, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
}
.color_h1{
  color: #5B4295;
}
h1{
  color: #858688;
  font-size: 30px;
  font-family: titillium-web-bold, sans-serif;
}
.languages>ul>li>a{
  color: #959595;
}
.nav>ul>li>a{
  color: #454545;
}
header{
  width: 1800px;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
}
.navigation_and_languages{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 77.9%;
  margin-left: auto;
  margin-right: auto;
}
.languages_and_h1{
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 71px;
  width: 238px;
}
.languages>ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: titillium-web-regular, sans-serif;
  font-size: 1em;
  letter-spacing: 0.01em;
}
.languages>ul>li:nth-child(odd) {
  border-bottom: 1px solid transparent;
  padding-bottom: 3px;
}
.languages>ul>li:nth-child(even) {
  user-select: none;
}
.languages>ul>li:nth-child(odd):hover{
  border-bottom: 1px solid #BFC5D4;
  text-shadow: 0 0 .65px #333, 0 0 .65px #333;
}
.nav>ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 414px;
  font-family: titillium-web-regular, sans-serif;
  font-size: 1.16em;
  letter-spacing: 0.01em;
}
.nav>ul>li:hover{
  text-shadow: 0 0 .65px #333, 0 0 .65px #333;
}
.navigation_and_login{
  margin-top: 88px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 672px;
}
.log_in>ul{
  display: flex;
  flex-direction: row;
  width: 184px;
  justify-content: space-between;
}
.login_link{
  font-family: titillium-web-bold, sans-serif;
  color: #454545;
  font-size: 1.16em;
}
.login_link:hover{
  text-shadow: 0 0 .65px #333, 0 0 .65px #333;
}

.lang_1{
  letter-spacing: 0.05em;
}
.fa-sign-in{
  margin-right: 9px;
  color: #582C7E;
  font-size: 1.16em !important;
}
.sub_button{
  background: linear-gradient(to bottom right, #582C7E 0%,  #6377CE 100%);
  height: 42px;
  width: 96px;
  margin-top: -11px;
  color: #FFF;
  border-radius: 20px;
  font-family: titillium-web-bold, sans-serif;
  font-size: 1.16em;
  border: transparent;
  box-shadow: 2px 10px 10px rgba(98,110,197,0.6);
  padding-left: 4px;
  padding-bottom: 3px;
  letter-spacing: 0.02em;
  outline: none;
}

.sub_button:hover{
 animation: shadow-pulse 0.8s infinite;
}

@keyframes shadow-pulse
{
  0% {
    border: 0px solid #0C7FF2;
  }
  100% {
    border: 5px solid #0C7FF2;
  }
}
.sub_button:active {
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1);
     animation: paused;
   }
.create_acc_and_inscription{
  height: 480px;
  width: 1800px;
  background-image: url(../assets/img/neutronmail__1.jpg);
  background-position: 0% 92.5%;
  text-align: center;
  margin: auto;
}
.first_inscription{
  margin-top: 13px;
  font-family: titillium-web-semibold, sans-serif;
  font-size: 4.36em;
  color: #6F6F6E;
}
.first_inscription_added{
  margin-left: 2px;
  margin-top: 16px;
  font-size: 2.6em;
  color: #6F6F6E;
  font-family: titillium-web-semibold, sans-serif;
}
.color_h2{
  color: #fc2028;
}
.create_acc{
  height: 364px;
}
.create_acc>ul{
  position: relative;
  left: 39.3%;
  height: 209px;
  width: 385px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
  .create_acc_button{
    background: linear-gradient(to bottom right, #646C91 0%,  #5F2F69 100%);
    height: 56px;
    width: 247px;
    color: #FFF;
    border-radius: 50px;
    font-family: titillium-web-bold, sans-serif;
    font-size: 1.26em;
    border: transparent;
    box-shadow: 2px 10px 10px rgba(98,110,197,0.6);
    padding-bottom: 3px;
    letter-spacing: 0.02em;
    outline: none;
  }
  .create_acc_button_little{
    background-color: #634271;
    height: 46px;
    width: 46px;
    color: #FFF;
    border-radius: 50px;
    font-family: titillium-web-bold, sans-serif;
    font-size: 1.55em;
    border: transparent;
    box-shadow: 2px 10px 10px rgba(98,110,197,0.6);
    letter-spacing: 0.02em;
    outline: none;
  }
.button_little_1{
  margin-right: -3px;
}
.create_acc_button:hover,.create_acc_button_little:hover{
 animation: shadow-pulse 0.8s infinite;
}
.create_acc_button:active, .create_acc_button_little:active{
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1);
     animation: paused;
   }
.right_side_link_bar{
  position: relative;
  top:-85.5%;
  left: 97.05%;
  height: 25.7%;
  width: 2%;
}
.right_side_link_bar>ul{
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}
.right_side_link_bar>ul>li{
  height: 19px;
  width:  19px;
  background-color: #676766;
  border-radius: 2px;
}
.right_side_link_bar>ul>li>a{
position: relative;
color: #FFF;
font-size: 0.9em;
top:3px;
padding: 2px;
}
.right_side_link_bar_2_link{
  left: 2px;
  font-size: 1.2em !important;
}
.right_side_link_bar>ul>li:hover{
  background-color: #FFCE45;
}
.inscription_2{
  height: 426px;
  width:74.2%;
  margin: auto;
  display:flex;
  justify-content: space-between;
}
div[class^="inscription_2_"]{
  margin-top: 8.95%;
  text-align: left;
}
.img_inscription_2_1{
  position: relative;
  margin-top:-1%;
}
h3[class^="advantages_title"]{
  position: relative;
  top: -20.5%;
  left: 20.5%;
  font-size: 2.19em;
  font-family: titillium-web-regular, sans-serif;
  color: #555555;
}
p[class^="advantages_under_title"]{
  position: relative;
  left: 20%;
  top: -20%;
  font-size: 1.33em;
  font-family: titillium-web-regular, sans-serif;
  color: #959393;
}
p[class^="advantages_texts"]{
  position: relative;
  top: -10%;
  left: 4%;
  line-height: 1.55em;
  font-family: titillium-web-regular, sans-serif;
  color: #959393;
  font-size: 1em;
  letter-spacing: 0.01em;
  line-height: 1.6em
}
.inscription_2_1{
  margin-left: 5.7%;
}
.inscription_2_2{
  width: 28%;
  margin-right: 3.7%;
  margin-top: 8.57% !important;
}
 .img_inscription_2_2{
  position: relative;
  left: 8%;
  margin-top: 3%;
}
.advantages_title_2{
  top: -15.9% !important;
  left: 25.2% !important;
  letter-spacing: 0.005em;
}
.advantages_under_title_2{
  left: 25.4% !important;
  top: -15.1% !important;
  letter-spacing: -0.004em !important;
}
.advantages_texts_2 {
    left: 10% !important;
   top: -5.5% !important;
}

.inscription_2_3{
  position:   relative;
  left: -1.9%;
  top: 0.95%;
  margin-top: 8.8% !important;

}
.img_inscription_2_3{
 position: relative;
 margin-top: -1%;
}
.advantages_title_3{
  top: -19% !important;
  left: 21% !important;
}
.advantages_under_title_3{
  top: -18.4% !important;
  left: 21% !important;
}
.advantages_texts_3{
  top: -8.5% !important;
  left: 5% !important;
  line-height: 1.6em !important;
}
main{
  height: 2200px;
  width: 1800px;
  margin: auto;
}
 .vert_line_1{
   position: relative;
   height: 9.14%;
   width: 0px;
   top: -33.18%;
   border-left: 1px #B9B9B9 solid;
   left: 39.67%;
}

.vert_line_2{
    position: relative;
    height: 19.69%;
    top: -36.7%;
    border-left: 1px #B9B9B9 solid;
    left: 63.67%;
    width: 0px;
}
 .hor_line_1{
    position: relative;
    height: 0;
    width: 10.66%;
    border-top: 1px #B9B9B9 solid;
    left: 89.3%;
    top: -56.35%;
}
.second_inscription{
  margin-top: -0.8%;
  margin-left: 37.24%;
  font-family: titillium-web-regular, sans-serif;
  font-size: 4.36em;
  color: #535353;
  letter-spacing: 0.005em;
}
.second_inscription_added{
  text-align: right;
  margin-top: 0.82%;
  margin-right: 38.7%;
  font-family: titillium-web-regular, sans-serif;
  font-size: 1.74em;
  color: #959393;
  letter-spacing: 0.004em;
}
.most_secure{
  color:#f65151
}
.container_with_line{
    width: 332px;
    height: 60px;
    margin-left: 54.12%;
    margin-top: 1.3%;
    border: 1px #B9B9B9 solid;
    border-radius: 30px;
}
.with_line_par{
  font-family: titillium-web-regular, sans-serif;
  font-size: 1.14em;
  color: #959393;
  letter-spacing: 0.021em;
  padding-top: 5.8%;
  padding-left: 8.5%;
}
.newspapers{
  margin-top: 3.2%;
  margin-left: 1.2%;
}
 .hor_line_2{
    position: relative;
    height: 0;
    width: 54.1%;
    border-top: 1px #B9B9B9 solid;
    top: -35.3%;
}

.container_3{
    position: relative;
    top: -28%;
    width: 100%;
    height: 32%;
    background-image: url(../assets/img/notebook.jpg);
    background-position: 78% 46.5%;
    background-repeat: no-repeat;

}

.quote{
    position: relative;
    top: 4%;
    width: 32%;
    height: 23%;
    left: 20%;
    display: flex;
}

.dot_block{
  margin-top: 13px;
  margin-left: 4px;
  height: 57px;
}
.dot_block>ul{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dot_1{
    height: 13px;
    width: 13px;
    border-radius: 100%;
    background-color: #000;
}

.dot_2{
    margin-left: 1px;
    height: 11px;
    width: 11px;
    border-radius: 100%;
    background-color: #BABABA;
}

.dot_3{
     margin-left: 1px;
    height: 11px;
    width: 11px;
    border-radius: 100%;
    background-color: #BABABA;
}

.quote_text{
    margin-left: 25px;
    margin-top: 6px;
}
.quote_text>p{
   font-size: 1.71em;
  font-family: MalagaOT, sans-serif;
  letter-spacing: 0.014em;
  line-height: 1.31em;
  color: #101010;
}

.quote_text>p>span{
  font-size: 0.7em;
  letter-spacing: -0.006em;
  color: #727272;
}
.container_3_1{
    position: relative;
    top: 19.8%;
    width: 25%;
    height: 33%;
    left: 37%;
}
.container_3_1_h3{
   margin-left: 109px;
   font-size: 2.60em;
   font-family: titillium-web-regular, sans-serif;
   color: #535353;
}
.container_3_1_p{
  text-align: right;
  margin-top: 18px;
  margin-right: 13px;
  font-size: 1.14em;
  font-family: titillium-web-regular, sans-serif;
  letter-spacing: 0.01em;
  line-height: 1.4em;
  color: #959393;
}
.container_3_1_button1{
    border-radius: 6px;
    margin-left: 68px;
    margin-top: 28px;
    height: 55px;
    width: 180px;
    margin-right: 9px;
    background-image: url(../assets/img/apple_button.jpg);
    outline: none;
}
.container_3_1_button2{
    height: 55px;
    width: 180px;
    border-radius: 6px;
    background-image: url(../assets/img/google_button.jpg);
    outline: none;
}

.hor_line_3_1{
    position: relative;
    height: 0px;
    width: 50.3%;
    border-top: 1px #B9B9B9 solid;
    left: 22.2%;
    top: 38.9%;

}
.hor_line_3_2{
    position: relative;
    height: 0px;
    width: 25.0%;
    border-top: 1px #B9B9B9 solid;
    left: 74.7%;
    top: 38.9%;

}
.container_4{
  position: relative;
  top: -26.2%;
  left: 33.9%;
  width: 60%;
  height: 10%;
}
.container_4_1_h3{
   font-size: 2.60em;
   font-family: titillium-web-regular, sans-serif;
   color: #535353;
   letter-spacing: 0.003em;
 }
 .container_4_1_p{
    margin-left: -32px;
    margin-top: 8px;
    font-size: 2.07em;
    font-family: titillium-web-regular, sans-serif;
    color: #7c7c7c;
    letter-spacing: 0.007em
}

  .container4_button1{
    margin-top: 41px;
    margin-left: 58px;
    background: linear-gradient(to bottom right, #646C92 0%, #5F2F6A 100%);
    height: 56px;
    width: 247px;
    color: #FFF;
    border-radius: 50px;
    font-family: titillium-web-bold, sans-serif;
    font-size: 1.26em;
    border: transparent;
    box-shadow: 2px 10px 10px rgba(98,110,197,0.6);
    letter-spacing: 0.02em;
    outline: none;

  }

  .container4_button2{
    margin-top: 41px;
    background: linear-gradient(to bottom right, #35BCE0 0%, #5E7BEA 100%);
    margin-left: 50px;
    height: 56px;
    width: 166px;
    color: #FFF;
    border-radius: 50px;
     font-family: titillium-web-bold, sans-serif;
    font-size: 1.26em;
    border: transparent;
    box-shadow: 2px 10px 10px rgba(98,110,197,0.6);
    letter-spacing: 0.03em;
    outline: none;
  }
  .container4_button1:hover,.container4_button2:hover{
 animation: shadow-pulse 0.8s infinite;
}
.container4_button1:active, .container4_button2:active{
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1);
     animation: paused;
   }

.fa-cloud-upload-alt{
    margin-bottom: 13px;
    margin-left: 1px;
    font-size: 0.88em;
    margin-right: 5px;
}


.fa-dollar-sign{
    margin-bottom: 9px;
    margin-left: 2px;
    font-size: 0.88em;
    margin-right: 5px;
}

.container4_button2>span{
  position: relative;
  top: 2px;
  letter-spacing: 0.03em;

}

.container4_button1>span{
  position: relative;
  top: 2px;
  letter-spacing: 0.03em;

}
.container_4_button{
  height: 60%;
  display: flex;
}
footer{
  margin: auto;
  height: 628px;
  width:1800px;
}
.hor_line_5_1{
    height: 4%;
    width: 77.77%;
    border-bottom: 1px #B9B9B9 solid;
}
.footer_top_text{
  margin-top: 1.1%;
  margin-left: 63.5%;
  width: 13%;
  font-family: titillium-web-regular, sans-serif;
  font-size: 1em;
  color: #7a7a7a;
  letter-spacing: 0.008em;
}
.sponsor_list{
    width: 51%;
    margin-top: 0.55%;
    margin-left: 25.8%;
}
.contacts_and_links{
  margin-top: 5%;
  height: 300px;
  width: 1800px;
  display: flex;
}

.mail{
  height: 46%;
  margin-top: 3.5%;
  margin-left: 12.2%;
  width: 16%;
  letter-spacing: 0.008em;
  line-height: 1.7em;
}
.mail>ul{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mail>ul>li{
  color:#5c5c5c;
  font-family: titillium-web-regular, sans-serif;
  font-size: 1em;
}
.mail>ul>li>a{
  color:#5c5c5c;
  font-family: titillium-web-bold, sans-serif;
}
.mail>ul>li>a:hover{
  text-decoration: underline; 
}
.for_supp{
  margin-top: 7.5%;
  font-family: titillium-web-regular, sans-serif;
}
.for_supp>a{
  font-family: titillium-web-bold, sans-serif;
  text-decoration: underline;
  color: #5c5c5c;
}
.links{
    width: 29.2%;
    margin-top: 3.72%;
    margin-left: 18.9%;
}
.links_container{
  text-align: right;
  display: flex;
  height: 68%;
  justify-content: space-between;
  font-family: titillium-web-bold, sans-serif;
}
.for_supp>a:hover{
      text-shadow: 1px 1px 2px black, 0 0 1em black; 
    color: white;
    font-size: 1.2em;
} 

.links_container>div>h4{
  font-size: 1.286em;
  color: #7a7a7a;
}

.links_container>div>ul>li>a, .links_container>div>ul>li>span{
  font-family: titillium-web-regular, sans-serif;
  font-size: 1em;
  color: #5c5c5c;
}
.links_container>div>ul>li>a:hover{
  text-decoration: underline;
}
.links_container>.links_container_2>ul>li>a{
      margin-right: 3%;
}
.links_container>.links_container_1>ul>li>a{
      margin-right: 6%;
}

.links_container_1>ul{
  margin-top: 44.3%;
  height: 66.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  letter-spacing: 0.04em;
}

.links_container_2>ul{
  margin-top: 20.2%;
  height: 67.1%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  letter-spacing: 0.02em;
}
.links_container_2{
  width: 30%;
  margin-left: 0.5%;
}
.links_container_3{
  width: 21%;
}
.links_container_3>ul{
  margin-top: 29.3%;
  height: 66.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.links_container>.links_container_3>ul>li>a{
  margin-right: 6%;
}
.contacts_and_social{
  width: 20.07%;
  margin-left: 11.17%;
  margin-top: 0.3%;
}
.contacts_and_social>ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: titillium-web-regular, sans-serif;
  font-size: 0.857em;
  color: #5c5c5c;
}
.contacts_and_social>ul>li>a{
  color: #5c5c5c;
  text-decoration: underline;
  text-decoration-color: #DEDEDE;
}
.contacts_and_social>ul>li>a:hover{
  text-decoration: underline; 
}
.contacts_and_social>ul>li>span{
  user-select: none;
}
.contacts_and_social>p{
  margin-top: 5.1%;
  font-family: titillium-web-regular, sans-serif;
  font-size: 0.857em;
  color: #5c5c5c;
  letter-spacing: 0.008em;
}
.vert_line_3{
  position: relative;
  height: 20.86%;
  width: 0px;
  top: -44.10%;
  border-left: 1px #B9B9B9 solid;
  left: 11.11%;
}
.vert_line_4{
  position: relative;
  height: 50.12%;
  width: 0px;
  top: -65.5%;
  border-left: 1px #B9B9B9 solid;
  left: 52.55%;
}
.vert_line_5{
  position: relative;
  height: 70.12%;
  width: 0px;
  top: -161.2%;
  border-left: 1px #B9B9B9 solid;
  left: 77.72%;
}

/*@media screen and (max-width: 1800px) {

  body {
    font-size: 33px;



  }

    .newspapers {
      margin-top: 8.2%;
      margin-left: 1.2%;
  }

  .right_side_link_bar {
      position: relative;
      top: -85.5%;
      left: 91.05%;
      height: 25.7%;
      width: 2%;
  }

}*/
@media screen and (max-width: 1800px) {

  body {
    font-size: 15px;
  }

    .newspapers {
      margin-top: 3.2%;
      margin-left: 8.2%;
  }

  .right_side_link_bar {
      position: relative;
      top: -85.5%;
      left: 88.05%;
      height: 25.7%;
      width: 2%;
  }

  .vert_line_1 {
      position: relative;
      height: 9.14%;
      width: 0px;
      top: -34.18%;
      border-left: 1px #B9B9B9 solid;
      left: 39.67%;
  }

}

/*@media screen and (max-width: 768px) {

  body {

    font-size: 15px;
    
  }

}*/